@media(min-width:992px) {
    .list1 {
        display: inline-table;
        width: 380px;
        height: 432px;
    }

    .list2 {
        display: inline-table;
        height: 432px;
    }

    article {
        justify-content: center;
        align-content: center;
        display: inline-flex;
        margin-left: 10%;
    }
}
@media(min-width:768px) and (max-width: 991px){
    .list1 {
        width: 380px;
        height: 432px;
    }
    .list2 {
        height: 432px;
    }
}
@media(max-width: 767px){
    .list1 {
        width: 380px;
        height: 432px;
    }
    .list2 {
        height: 432px;
    }
}